/* внутри каждого селектора:
1 Позиционирование
2 Блочная модель
3 Типографика
4 Оформление
5 Анимация
6 Разное
*/

/* Глобальные стили для тегов */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;  /* Сброс  */
    padding: 0; /* Сброс  */
    color:#000; /* Задаем контрастный цвет шрифта  */
    font-family: "PT Sans", Arial, sans-serif;   /* (Шрифт дизайна, системный шрифт, font family) Задаем самый популярный на странице шрифт  */
    font-size: 14px;   /* Задаем размер шрифта которого больше всего на странице  */
    font-weight: 700;  /* Задаем самый популярный на странице размер шрифт  */
    line-height: 21px;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  min-height: 56px;
  margin: 0 auto;
  padding: 0;
}

.nav__menu {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__item {
  min-width: 239px;
  padding: 22px auto;

  color: #000000;
  line-height: 26px;
  text-transform: uppercase;
}

.nav__link {
  display: block;

  width: 100%;
}
