/* внутри каждого селектора:
1 Позиционирование
2 Блочная модель
3 Типографика
4 Оформление
5 Анимация
6 Разное
*/

/* Глобальные стили для тегов */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;  /* Сброс  */
    padding: 0; /* Сброс  */
    color:#000000; /* Задаем контрастный цвет шрифта  */
    font-family: "PT Sans", Arial, sans-serif;   /* (Шрифт дизайна, системный шрифт, font family) Задаем самый популярный на странице шрифт  */
    font-size: 14px;   /* Задаем размер шрифта которого больше всего на странице  */
    font-weight: 700;  /* Задаем самый популярный на странице размер шрифт  */
    line-height: 21px;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  min-height: 56px;
  padding: 0;
  margin: 0 auto;

}
/* HEADER */

.nav__menu {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
}

.nav__item {
  display: flex;

  justify-content: space-between;
  align-items: center;
  min-width: 239px;
  padding: 22px 10px;

  line-height: 26px;
  text-transform: uppercase;
}

.nav__link {
  display: block;

  margin: 0 auto;

  text-align: center;
}

.slider {
  display: flex;

/*   width: 100%; */
  min-height: 508px;
  padding: 0;
  margin: 0 auto;

  background-image: url('../img/header-background-photo.png'),
                    url('../img/header-cut-bcg-photo.png');
  background-repeat: no-repeat;
  background-position-x: center;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}

.advantages {
  padding: 61px 0 0 0;
}

.advantages__wrapper {
  width: 400px;
  height: 256px;

  background-color: #81b3d2;
}

.advantages__main-title {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 29px 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.advantages__info {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 56px 0;

  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {
  display: flex;
  justify-content: center;
}

.advantages__item--reverse {
  flex-direction: row-reverse;
}

.advantages__title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__title--white {
  color: #ffffff;
}

.advantages__number--white {
  color: #ffffff;
}

.advantages__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__image {
  width: 800px;
  height: 256px;

  background-image: url('/img/photo-featers-1.png');
}

.advantages__image--next {
  background-image: url('/img/photo-featers-2.png');
}

.advantages__text--gray {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__sub-list {
  display: flex;
  justify-content: center;

  list-style-type: none;
}

.advantages__sub-list-item--gray {
  background-color: #f2f2f2;
}

.advantages__sub-title {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages__sub-text {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
