/* внутри каждого селектора:
1 Позиционирование
2 Блочная модель
3 Типографика
4 Оформление
5 Анимация
6 Разное
*/

/* Глобальные стили для тегов */
body {
    margin: 0;  /* Сброс  */
    padding: 0; /* Сброс  */
    color:#000; /* Задаем контрастный цвет шрифта  */
    font-family: "PT Sans";   /* (Шрифт дизайна, системный шрифт, font family) Задаем самый популярный на странице шрифт  */
    font-size: 14px;   /* Задаем размер шрифта которого больше всего на странице  */
    font-weight: 700;  /* Задаем самый популярный на странице размер шрифт  */
    /*background-color: #fff;  Задаем контрастный цвет фона  */
    /*background-image: url();  Задаем картинку фона  */
    /*background-position: ;  top center Задаем позицию картинки фона  */
    /*background-repeat: ;    no-repeat Задаем повторение картинки фона  */
}

a {
    text-decoration: none;
}
